/* main page styles */

.main_header a {
    margin-left: 90%;
}

.main_header {
    background-color: rgb(119, 138, 132);
}

.add_article_button {
    background-color: rgb(119, 138, 132);
    border-width: 0;
}

.article {
    display: inline-block;
    margin: 10px;
    margin-left: 30px;
    width: 300px;
    height: 200px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(119, 138, 132);
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.content {
    min-width: 200px;
    min-height: 120px;
    text-align: center;
}

.title {
    width: 250px;
    text-align: center;
}

.contentbox a {
    text-decoration: none;
    color: black;
}

/* add_article page styles */

.add_article_header a {
    text-decoration: none;
    color: black;
    margin-left: 300px;
    background-color: rgb(119, 138, 132);
    border-width: 0;
}

.article_adding_form {
    margin-left: 40%;
    margin-top: 10%;
    width: 350px;
    border-style: inset;
    border-width: 5px;
    border-color: rgb(119, 138, 132);
}

.article_adding_form form {
    text-align: center;
}

.article_editting_form {
    margin-left: 40%;
    margin-top: 10%;
    width: 300px;
}

.article_editting_form form {
    text-align: center;
}

.submit_new_article_button {
    margin-top: 30px;
    margin-bottom: 15px;
    background-color: rgb(119, 138, 132);
    border-width: 0;
}

